@import "../utils/colors";
@import "../utils/transition";

.page-footer {
	padding: 60px 0;
	background: getColor("revers-bg-color");
	color: getColor("revers-color");
	&__container {
		display: flex;
	}

	&__item:nth-child(2) {
		padding-top: 12px;
		margin-left: 70px;
	}
	&__item:nth-child(3) {
		padding-top: 12px;
		margin-left: 93px;
	}

	&__address {
		margin-top: 20px;
	}

	&__title {
		margin-bottom: 20px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__form {
		display: flex;
	}
}

.address {
	min-width: 231px;
	&__item {
		&:not(:first-child) {
			margin-top: 9px;
			opacity: 0.6;
		}
	}

	&__link {
		display: block;
		line-height: 1.5;
		color: inherit;
		transition: color getTransition("time-anime") getTransition("time-function");
		&:hover,
		&:focus {
			color: getColor("link-hf-color");
		}
	}

	&__link--white {
		color: getColor("revers-color");
	}
}

.footer-form {
	&__email-label {
		display: flex;
		flex-direction: column;
		font-weight: 700;
		line-height: 1.15;
		letter-spacing: 0.03em;
		text-transform: uppercase;
	}

	&__email-input {
		width: 358px;
		margin-top: 20px;
		padding: 14px 16px;

		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;

		color: rgba(255, 255, 255, 0.6);
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 4px;
		background-color: inherit;
		&:hover,
		&:focus {
			outline: none;
			cursor: pointer;
			background-color: inherit;
		}
	}

	&__button-submit {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 50px;
		padding: 0;
		margin-top: 36px;
		margin-left: 12px;
	}

	&__submit-icon {
		margin-left: 10px;
	}
}
