@import "../utils/colors";
@import "../utils/transition";

body {
	position: relative;
	height: auto;
	margin-top: 80px;

	font-family: "Raleway", sans-serif;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.03em;

	background: getColor("main-bg-color");
	color: getColor("main-color");
}
.section-padding {
	padding: 94px 0;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.selector {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.button {
	padding: 10px 32px;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;
	color: getColor("revers-color");

	background: getColor("button-bg-color");
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	transition: background getTransition("time-anime") getTransition("time-function");

	&:hover,
	&:focus {
		background: getColor("button-bg-hf-color");
	}
}

.general-title {
	margin-bottom: 50px;
	text-align: center;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
}
