@import "../utils/colors";
@import "../utils/transition";

.section-teams {
	background: getColor("another-bg-color");
	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 30px;

		background: getColor("main-bg-color");
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
	}
}

.card {
	&__name {
		margin: 30px 0 10px 0;

		font-weight: 500;
		font-size: 16px;
		line-height: 1.18;
	}

	&__job {
		display: block;
		margin-bottom: 16px;

		color: getColor("another-color");
		font-size: 16px;
		line-height: 1.18;
	}
}
