@import "../utils/colors";
@import "../utils/transition";

.section-partners {
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
		height: 70vw;
	}
	&__item {
		width: 43.75vw;
		height: 19.167vw;
	}
}

.partner {
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border: 1px solid #afb1b8;
		border-radius: 4px;
		color: #afb1b8;

		transition: color getTransition("time-anime") getTransition("time-function"),
			fill getTransition("time-anime") getTransition("time-function"),
			border getTransition("time-anime") getTransition("time-function");
		&:hover,
		&:focus {
			color: getColor("link-hf-color");
			fill: currentColor;
			border-color: getColor("link-hf-color");
		}
	}

	&__icon {
		fill: currentColor;
	}
}

// @media screen and (min-width: ширина-планшета) {
//   .element {
//     /* Стили планшета */
//   }
// }

// @media screen and (min-width: ширина-десктопа) {
//   .element {
//     /* Стили десктопа */
//   }
// }
